
/RoffusModular/RoffusCore/target/
/RoffusModular/RoffusCore/.settings/
/RoffusModular/RoffusWeb/.settings/
/RoffusModular/RoffusWeb/target/

/ROFFUSDB/Business/obj/Debug
/ROFFUSDB/Data/obj/Debug
/ROFFUSDB/Entity/obj/Debug
/ROFFUSDB/Business/bin/Debug
/ROFFUSDB/Data/bin/Debug
/ROFFUSDB/Entity/bin/Debug
/ROFFUSDB/.vs/

/ROFFUSDB/packages/

*.idea
*.sonarlint
*.class
*.CLASS